"Data Quality (Related with Date & Time)"

Ensure relaiable dession making \
Improve Ai&ML Model accuracy

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
store= {
    'name':['jio','apple','bob'],
    'product':['Sim','mac','egg'],
    'price':[250,500,150],
}
dt = pd.DataFrame(store)

In [11]:
dt

    name product  price
0    jio     Sim    250
1  apple     mac    500
2    bob     egg    150

In [22]:
i_p = dt.apply(lambda row:row.nunique()>2, axis=1)
i_p

0    True
1    True
2    True
dtype: bool

In [33]:
data_time = {
    'RecordID':[1,2,3],
    'UpdateDate':['2021-09-15','2020-12-31','2019-11-10']         
}

dt_time = pd.DataFrame(data_time)
dt_time

   RecordID  UpdateDate
0         1  2021-09-15
1         2  2020-12-31
2         3  2019-11-10

In [39]:
dt_time.dtypes

RecordID               int64
UpdateDate    datetime64[ns]
dtype: object

In [38]:
dt_time['UpdateDate'] = pd.to_datetime(dt_time['UpdateDate'])

In [ ]:
dt_time['Daysold'] = (datatime.now() - )